<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Appium CSV Non-Parallel"
       verbose="1"
       parallel="none">

    <listeners>
        <listener class-name="listeners.AllureTestListener"/>
    </listeners>

    <parameter name="udid" value="emulator-5554"/>
    <parameter name="serverPort" value="4724"/>
    <parameter name="systemPort" value="8200"/>
    <parameter name="chromePort" value="9515"/>

    <test name="All Tests (package: tests)">
        <packages>
            <package name="tests"/>
        </packages>
    </test>

</suite>